# Training Config
train:
  # Synthetic datasets with ground truth labels
  datasets:
  - images: 'data/datasets/milk-bottles/resized-files/preprocessed-rgb-imgs'
    labels: 'data/datasets/milk-bottles/resized-files/preprocessed-camera-normals'

  # Training/Validation Params
  model: 'unet'  # Possible models: unet
  backbone: ''  # Possible values: None
  batchSize: 24  # Batch Size for training
  validationBatchSize: 24
  numEpochs: 1500
  imgHeight: 288
  imgWidth: 512
  numClasses: 3
  numWorkers: 32  # Num of workers used in the dataloader
  logsDir: 'logs'  # Directory where logs of each exp will be saved.
  lossFunc: 'cosine'  # Possible values: 'cosine', 'radians'
  percentageDataForTraining: 0.9  # The percentage of images in dataset to be used for training. Rest used for validation.

  continueTraining: True  # If true, continue training from a checkpoint
  pathPrevCheckpoint: 'logs/exp-000/checkpoints/checkpoint-epoch-0000.pth' # Path to .pth checkpoint file to load to continue training from
  initOptimizerFromCheckpoint: False  # Re-Initialize optimizer's state from checkpoint. NOTE: when this is enabled, value of learningRate has no effect.
  loadEpochNumberFromCheckpoint: True # If true, the epoch/iter numbering will start from the checkpoint's last epoch num.

  saveImageInterval: 5  # Log output images to tensorboard every saveImageInterval epochs
  saveModelInterval: 5  # Save the model checkpoints every N epochs

  # Optimizer Params
  adamOptim:
    learningRate: 0.0001
    weightDecay: 0  # Other values: 0.0001
  lrScheduler: ''  # Possible Values: ['', 'StepLR', 'ReduceLROnPlateau']
  lrSchedulerStep:
    step_size: 7
    gamma: 0.1
  lrSchedulerPlateau:
    factor: 0.8
    patience: 25
    verbose: True


# Testing/Inference Config
eval:
  # Synthetic datasets with ground truth labels
  datasetsSynthetic:
  - images: 'data/datasets/test-synthetic-10/resized-files/preprocessed-rgb-imgs'
    labels: 'data/datasets/test-synthetic-10/resized-files/preprocessed-camera-normals'

  # Datasets of real images, no labels available
  datasetsReal:
  - images: 'data/datasets/test-real/camera-pics/resized-files/preprocessed-rgb-imgs'
  - images: 'data/datasets/test-real/realsense-captures/resized-files/preprocessed-rgb-imgs'

  # Params
  batchSize: 24
  numWorkers: 32
  pathWeightsFile: 'logs/exp-000/checkpoints/checkpoint-epoch-0000.pth'  # Path to the checkpoint to be loaded
  resultsDirSynthetic: 'data/results/test-synthetic'  # The dir to which results on synthetic images will be stored
  resultsDirReal: 'data/results/test-real'   # The dir to which results on real images will be stored
  resultsHdf5SubDir: 'surface-normals-hdf5'  # The prediction of model will be saved as hdf5 files in this subfolder within the results folder
